.cell {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 11rem;
  font-size: 3rem;
  font-weight: 800;
  border-radius: 3px;
  // background: rgba(238, 228, 218, 1);

  transition: all 0.1s linear;

  @media only screen and (max-width: 56.25em) {
    width: 11rem;
    height: 11rem;
  }

  &__position {
    &--0-0 {
      @include cellPosition(0vw, 0vw);
    }
    &--0-1 {
      @include cellPosition(12rem, 0px);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(10.5rem, 0px);
      // }
    }
    &--0-2 {
      @include cellPosition(24rem, 0px);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(21rem, 0px);
      // }
    }
    &--0-3 {
      @include cellPosition(36rem, 0px);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(31.5rem, 0px);
      // }
    }

    &--1-0 {
      @include cellPosition(0px, 12rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(0px, 10.5rem);
      // }
    }
    &--1-1 {
      @include cellPosition(12rem, 12rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(10.5rem, 10.5rem);
      // }
    }
    &--1-2 {
      @include cellPosition(24rem, 12rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(21rem, 10.5rem);
      // }
    }
    &--1-3 {
      @include cellPosition(36rem, 12rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(31.5rem, 10.5rem);
      // }
    }

    &--2-0 {
      @include cellPosition(0px, 24rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(0rem, 21rem);
      // }
    }
    &--2-1 {
      @include cellPosition(12rem, 24rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(10.5rem, 21rem);
      // }
    }
    &--2-2 {
      @include cellPosition(24rem, 24rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(21rem, 21rem);
      // }
    }
    &--2-3 {
      @include cellPosition(36rem, 24rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(31.5rem, 21rem);
      // }
    }

    &--3-0 {
      @include cellPosition(0, 36rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(0, 31.5rem);
      // }
    }
    &--3-1 {
      @include cellPosition(12rem, 36rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(10.5rem, 31.5rem);
      // }
    }
    &--3-2 {
      @include cellPosition(24rem, 36rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(21rem, 31.5rem);
      // }
    }
    &--3-3 {
      @include cellPosition(36rem, 36rem);

      // @media only screen and (max-width: 56.25em) {
      //   @include cellPosition(31.5rem, 31.5rem);
      // }
    }
  }
}

.empty {
  background: rgba(238, 228, 218, 0.35);
}
.value {
  width: 6vw;
  height: 6vw;
  font-size: 3rem;
  font-weight: 800;
  border-radius: 3px;
  // background: rgba(238, 228, 218, 1);

  @include valueColor;
  @include mergedNew;

  transition: all 0.2s linear;
}

.new {
  animation: newCell 0.5s ease-out;
}

.merged {
  animation: merge 0.5s ease-out 0.1s;
}
