.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}
.board {
  width: 28vw;
  height: 28vw;
  background: #bbada0;
  position: relative;
  padding: 1.6rem;

  &__board {
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 56.25em) {
    width: 50rem;
    height: 50rem;
  }
}
